{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>책 삭제</h1>
	<p>정말로 "{{ object.title }}"을(를) 삭제하시겠습니까?</p>

	<form method='POST'>
        {% csrf_token %}
        <button type='submit' class='btn btn-danger'>삭제</button>
    	</form>
  </div>
</body>


